p#pogrubienie_dabrowski {
    font-size: 34px;
    color: #935DCB;
}

p#pochylona_dabrowski {
    font-size: 39pt;
    color: #F7C167;
}

p#index_gorny_dabrowski {
    font-size: 0.45cm;
    color: #A78F17;
}

p#index_dolny_dabrowski {
    font-size: 0.9cm;
    color: rgb(26%,95%,87%);
}

p#mono_dabrowski {
    font-size: 44px;
    color: #27DF67;
}

p#powiekszenie_dabrowski {
    color: #613F99;
}

p#pomniejszenie_dabrowski {
    color: rgb(77%,64%,21%);
}